/* .modal-title {
    margin: 0px 5px;
    line-height: 1.42857143;
	color: #51bcda;
	font-weight: bold;
} */

/* Style buttons */
.btn-edit{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
	background-color: transparent;
	border: 2px solid #ffc107; /* Remove borders */
	color: #ffc107; /* White text */
	margin: 0px 5px 0px 0px;
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	font-style: normal;
	font-size: 14px;
	border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.btn-edit:hover{
	background-color: #ffc107;
	color: white; /* White text */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-delete{
  padding-top:5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 2px solid #dc3545;
  color: #dc3545; /* White text */
  /*margin: 0px 0px 0px 0px;*/
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  font-style: normal;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.btn-delete:hover{
	background-color: #dc3545;
	color: white; /* White text */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btnsubmit{
	background-color: transparent;
	color: #19569A;
	padding: 3px 3px;
	width: 25%;
	margin: 5px 5px 10px;
	border-radius: 15px;
	cursor: pointer;
	font-weight: bolder;
	border: 2px solid #19569A;
	font-size: 16px;
	height: 35px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btnsubmit:hover, .btn-submit:focus, .btn-submit:active {
  color: #fff;
  background-color: #19569A;
  border-radius: 15px;
}

/*.btnsubmit:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #007bff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}*/

/*.btnsubmit:hover:before, .btn-submit:focus:before, .btn-submit:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/

/*.btnsubmit:hover {
  /*background-color: RoyalBlue;*
  background-color: #4682B4 !important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
 }*/

 .btn-add{
    background-color: transparent;
    color: #FF8882;
    border: 2px solid #FF8882;
    /* padding: 5px; */
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    height: 35px;
/* 	width: 100%; */
    font-size: 14px;
	   margin-top: -10px;
     position: absolute;
    vertical-align: middle;
}

.btn-add:hover, .btn-add:focus, .btn-add:active{
	background-color: #FF8882;
  color: white;
  border: 2px solid #FF8882;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* The Modal (background) */
.modal {
  /*display: none; /* Hidden by default */
 /*position: fixed; /* Stay in place */
/*z-index: 1; /* Sit on top */
  /* padding-top: 100px; /* Location of the box */
  /* left: 500px; */
  /* top: 80px;
  width: 35%; /* Full width *
  height: 100%; /* Full height *
  overflow: auto; /* Enable scroll if needed *
  float: left; */
/*   background-color: rgb(0,0,0); /* Fallback color */
/*  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	margin-left: 240px;
	margin-top: 50px;
	/* background: white;
    border-radius: 5px;
    /* box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); *
    height: 480px;
    width: 100%;
	padding: 15px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: 5px;
	opacity: 0.7;
	border: 2px solid #ddd; */
}

/* Modal Content */
.modal-content {
 background-color: #fefefe;
 padding-top: 0px;
  /* padding: 10px; */
  /* border: 1px solid #888; */
/*   width: 100%;
  float: left;
  margin: -10px; */
}

.modal a.close1 {
    position: absolute;
    top: 0px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}
.modal a.close1:hover {
  color: black;
}

input[type=text], select, textarea{
  width: 100%;
  padding-top: 30px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
/*   cursor: cursor; */
}

input[type=text], select{
  width: 100%;
  padding: 5px 5px;
  margin: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: cursor;
  color: #90ADC6;
}
 
/* input[type=submit] {
 width: 100%;
 /*  background-color: #4CAF50; *
  background-color: #51bcda;
  color: white;
  height: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
  }
  
 input[type=submit]:hover {
  background-color: #4682B4 !important;
} */

/* *:before, *:after {
  /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */