.btn-docs{
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: transparent;
	/* background-color: #51bcda; */
	color: #007bff;
	height: 30px;
	width: 30px;
	padding: 0px 0px;
	margin: 1px 1px 1px 1px;
	border: 2px solid #007bff;
	border-radius: 5px;
	/* border: none; */
	cursor: pointer;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	display: inline-block;
  	vertical-align: middle;
}

.btn-docs:hover{
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: #007bff;
	color: white;
	padding: 0px 0px;
	margin: 1px 1px 1px 1px;
	border-radius:5px;
	border: 2px solid #007bff;
	height: 30px;
	width: 30px;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.btn-approve {
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: transparent;
	/* background-color: #51bcda; */
	color: #28a745;
	height: 30px;
	width: 30px;
	padding: 2px 2px;
	margin: 1px 1px 1px 1px;
	border: 2px solid #28a745;
	border-radius: 5px;
	/* border: none; */
	cursor: pointer;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	display: inline-block;
  	vertical-align: middle;
}

.btn-approve:hover{
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: #28a745;
	color: white;
	padding: 2px 2px;
	margin: 1px 1px 1px 1px;
	/* box-shadow: 0 0 40px 40px #41729F inset; */
	border-radius:5px;
	border: 2px solid #28a745;
	height: 30px;
	width: 30px;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.btn-decline {
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: transparent;
	/* background-color: #51bcda; */
	color: #dc3545;
	height: 30px;
	width: 30px;
	padding: 2px 2px;
	margin: 1px 1px 1px 1px;
	border: 2px solid #dc3545;
	border-radius: 5px;
	/* border: none; */
	cursor: pointer;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	display: inline-block;
  	vertical-align: middle;
}

.btn-decline:hover{
	font-family: "Aleo", sans-serif;
	font-size: 13px;
	background-color: #dc3545;
	color: white;
	padding: 2px 2px;
	margin: 1px 1px 1px 1px;
	/* box-shadow: 0 0 40px 40px #41729F inset; */
	border-radius:5px;
	border: 2px solid #dc3545;
	height: 30px;
	width: 30px;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.lbl-collected{
	background-color: #28a745;
	padding: 4px 10px;
	margin-top: 5px;
}

.lbl-collected:hover{
}

.lbl-notcollected{
	background-color: #FF5765;
	padding: 4px 10px;
}

.lbl-notcollected:hover{
}

.text-overflow {
  overflow: hidden;
  word-wrap: break-word;
}